.fill-space{
  flex:1 1 auto;
}

.title{
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.active{
  color:blue;
}

.new{
  position: fixed;
  right: .5em;
  bottom: .5em;
  font-weight: bolder;
  width: 1.7em;
  height: 1.7em;
  z-index: 99;
  font-size: 2.2em;
}
