.center{
  margin:auto;
}

.brick {
  width: 290px;
  border:.3em solid rgba(158, 158, 158, 0.65);
  margin-bottom: .3em;
  border-radius: .4em;
}

.label{
  width:100%;
  text-align: center;
  background: rgba(158, 158, 158, 0.05);
  padding-top: .3em;
  padding-bottom: .3em;
  margin-bottom: .2em;
  border-radius: 1em;
}

.action{
  width: 100%;
  height: 60px;
  background: rgb(221, 221, 221);
}

.user{
  border-radius: 50%;
  margin:.2em;
  cursor: pointer;
  position: relative;
  top:50%;
  transform:perspective(1px) translateY(-50%);
}

.like{
  float: right;
  cursor: pointer;
  position: relative;
  top:50%;
  transform:perspective(1px) translateY(-50%);
}

.liked{
  color: blue;
}

.count{
  margin:0;
  padding: .1em;
}

.loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .8
}

.spinner{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 4em;
}
