<md-card style="top:64px">
  <masonry [useImagesLoaded]="true" [options]="myoptions" class="center">
    <masonry-brick class="brick" *ngFor="let story of topStories">
      <img src="{{story.url}}" alt="story.description" style="width: 100%">
      <div class="label">
        {{story.description}}
      </div>
      <md-progress-bar mode="indeterminate" *ngIf="story.loading" color="warn"></md-progress-bar>
      <div class="action">
        <img src="{{story.userId.img}}" alt="{{story.userId.twitter.userName}}" class="user">
        <button md-icon-button class="like" [ngClass]="{liked:story.liked}" (click)="like(story)">
          <md-icon>thumb_up</md-icon>
        </button>
      </div>
      <button class="delete" (click)="delImage(story)" md-fab color="warn" *ngIf="showRemove">X</button>
    </masonry-brick>
  </masonry>
</md-card>
<div class="noImage" *ngIf="noImage">
  No image found.
</div>
<div class="loading" *ngIf="loading">
  <md-spinner color="warn" class="spinner"></md-spinner>
</div>
